@import "./variaveis";

.container_reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form_reset {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    border-radius: 1rem;
    flex: 1;
    max-width: 500px;

    &__wrapper_input {
        display: flex;
        flex-direction: column;
       

        input {
            flex-grow: 1;
            padding: 1rem;
            border: 1px solid $gray500;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
    }
}

